.text-container {
  border-radius: 3rem;
  padding: 0 1rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.creeping-text {
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
